<div class="mainContainer">
  <div class="gooseFeetContainer">
    <img src="./assets/img/references/goose-feet.png" />
  </div>

  <div class="testimonialsMainContainer">
    <div class="testimonialsContainer">
      <div class="testimonials">
        <span style="color: #ffff">
          Michael really kept the team together with his great organization and
          clear communication. We wouldn't have got this far without his
          commitment.</span>
          <div class="signatureContainer">
            <div>
                <img src="./assets/img/references/vector_purple_long.png"/>
            </div>
            <span style="color: #ffff;">V. Schuster - Team Partner</span>
          </div>
      </div>

      <div class="imageContainer">
        <div class="imageBorder">
          <img src=""/>
        </div>
        <div class="vectorPurpleContainer">
          <img src="./assets/img/references/vector_purple.png"/>
        </div>
      </div>
    </div>

    <div class="swipeBarContainer">
      <img id="arrowBackID" class="arrowBack" src="./assets/img/references/arrow_back.png"/>
      <img id="ellipse2ID" class="ellipse2" src="./assets/img/references/Ellipse2.png"/>
      <img id="ellipse3ID" class="ellipse3" src="./assets/img/references/Ellipse3.png"/>
      <img id="ellipse4ID" class="ellipse4" src="./assets/img/references/Ellipse4.png"/>
      <img id="arrowForwardID" class="arrowForward" src="./assets/img/references/arrow_forward.png"/>
    </div>
  </div>
</div>
