.mainContainer {
  display: flex;
  justify-content: center;
  height: 378px;
  margin-bottom: 180px;
  gap: 0px;
  opacity: 0px;
}
.gooseFeetContainer {
  width: 96.9px;
  height: 68.1px;
  gap: 10px;
  opacity: 0px;
  margin-top: -32px;
  margin-right: 40px;
  z-index: 1;
}
.testimonialsMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1171.5px;
  height: 344px;
  gap: 32px;
  opacity: 0px;
}
.testimonialsContainer {
  display: flex;
  align-items: center;
  height: 272px;
  gap: 100px;
  opacity: 0px;
}
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 650px;
  height: 150px;
  padding: 48px 96px 48px 96px;
  gap: 44px;
  border-radius: 32px;
  border: 4px 0px 0px 0px;
  opacity: 0px;
  border: 4px solid #70e61c;
  flex: none;
}
.imageContainer {
  display: flex;
  align-items: center;
  width: 372px;
  height: 272px;
}
.imageBorder {
  width: 272px;
  height: 272px;
  border-radius: 1000px;
  border: 4px;
  opacity: 0px;
  border: 4px solid #9747ff;
}
.swipeBarContainer {
  display: flex;
  align-items: center;
  width: 184px;
  height: 40px;
  gap: 20px;
  opacity: 0px;
}
.signatureContainer {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 20px;
}
.arrowBack,
.arrowForward {
  cursor: pointer;
  &:hover{
    border: 2px solid #70e61c;
    border-radius: 100%;
  }
}
