.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 200px;
}

.headerMainContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  margin-bottom: 50px;
}

.purpleFirstLine {
  width: 100px;
  border: 4px 0px 0px 0px;
}

.headerTxtContainer {
  height: 108px;
  gap: 10px;
}

.portfolioTxt {
  margin: 0;
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: center;
  color: #ffff;
}

.sideTextContainer {
  margin: 64px;
  display: flex;
  justify-content: center;
}

.sideText {
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
}

.projectContainer {
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectDisplayFlex0,
.projectDisplayFlex1,
.projectDisplayFlex2 {
  width: 1168px;
  height: 339.19px;
  gap: 170px;
  opacity: 0px;
}

.projectDisplayFlex0,
.projectDisplayFlex2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -200px;
}

.projectDisplayFlex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  flex-direction: row-reverse;
  margin-left: -350px;
}

.projectDisplayFlex0,
.projectDisplayFlex1 {
  margin-bottom: 64px;
}

.projectNameContainer {
  margin-bottom: 28px;
}

.laptopImages0,
.laptopImages1,
.laptopImages2 {
  &:hover {
    scale: 1.2;
  }
}

.projectName {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
  color: #9747ff;
}

.projectLanguageContainer {
  margin-bottom: 12px;
}

.projectLanguage {
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  color: #70e61c;
}

.projectDescriptionContainer {
  margin-bottom: 32px;
}

.projectDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}

.projectButtons0,
.projectButtons2 {
  display: flex;
  justify-content: flex-start;
  gap: 90px;
}

.projectButtons1 {
  display: flex;
  justify-content: flex-end;
  gap: 90px;
}

.liveTestButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 58px;
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #9747ff;
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  border: 0;
  text-align: left;
  &:hover {
    cursor: pointer;
    background: #70e61c;
  }
}

.gitHubButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 58px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #70e61c;
  opacity: 0px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  background-color: transparent;
  color: #ffff;
  &:hover {
    cursor: pointer;
    background: #70e61c;
  }
}
@media (max-width: 1584px) {
  .purpleSecondLine {
    width: 400px;
  }
}
@media (max-width: 1522px) {
  .projectDescriptionContainer {
    text-wrap: wrap;
    width: 400px;
  }
  .projectDisplayFlex1 {
    margin-left: 0px;
  }
  .projectDisplayFlex2 {
    margin-left: -100px;
  }
}
@media (max-width: 1372px) {
  .projectDescriptionContainer {
    text-wrap: wrap;
    width: 400px;
  }
  .projectDisplayFlex0,
  .projectDisplayFlex2 {
    margin-right: -50px;
  }
  .projectDisplayFlex1 {
    margin-left: -100px;
  }
}
@media (max-width: 1353px) {
  .purpleSecondLine {
    width: 250px;
    height: 4px;
  }
}
@media (max-width: 1236px) {
  .purpleSecondLine {
    width: 250px;
    height: 4px;
  }
  .portfolioTxt {
    font-size: 75px;
  }
  .projectDescriptionContainer {
    text-wrap: wrap;
    width: 400px;
  }
  .projectDisplayFlex0,
  .projectDisplayFlex1,
  .projectDisplayFlex2 {
    margin-right: 0;
    margin-left: 0;
  }
  .sideTextContainer {
    margin-top: 0;
  }
}
@media (max-width: 1210px) {
  .projectDescription0,
  .projectDescription2 {
    display: block;
    font-size: 14px;
    width: 400px;
    text-wrap: wrap;
    text-align: start;
  }
  .projectDescription1 {
    display: block;
    font-size: 14px;
    width: 400px;
    text-wrap: wrap;
    text-align: end;
  }
}
@media (max-width: 1170px) {
  .projectDisplayFlex0,
  .projectDisplayFlex1,
  .projectDisplayFlex2 {
    width: 100%;
  }
}
@media (max-width: 1150px) {
  .portfolioTxt {
    font-size: 70px;
  }
}
@media (max-width: 1058px) {
  .projectLanguageContainer {
    text-wrap: wrap;
    width: 400px;
  }
  .projectDisplayFlex0,
  .projectDisplayFlex1,
  .projectDisplayFlex2 {
    gap: 60px;
  }
}
@media (max-width: 990px) {
  .projectNameContainer {
    margin-bottom: 10px;
  }
  .projectName {
    font-size: 30px;
  }
  .projectLanguage {
    font-size: 18px;
  }
  .projectDescription0,
  .projectDescription1,
  .projectDescription2 {
    font-size: 12px;
  }
  .laptopImages0,
  .laptopImages1,
  .laptopImages2 {
    height: 200px;
  }
  .liveTestButton,
  .gitHubButton {
    width: 132px;
    height: 50px;
  }
}
@media (max-width: 960px) {
  .portfolioTxt {
    font-size: 50px;
  }
}
@media (max-width: 860px) {
  .purpleSecondLine {
    width: 200px;
  }
  .sideText {
    font-size: 14px;
  }
}
@media (max-width: 840px) {
  .portfolioTxt {
    font-size: 45px;
  }
  .projectName{
    font-size: 28px;
  }
}
@media (max-width: 773px) {
  .projectName {
    font-size: 25px;
  }
  .projectDescriptionContainer {
    margin-bottom: 20px;
  }
  .projectLanguage {
    font-size: 16px;
  }
  .laptopImages0,
  .laptopImages1,
  .laptopImages2 {
    height: 180px;
  }
  .liveTestButton,
  .gitHubButton {
    width: 110px;
    height: 40px;
    font-size: 18px;
  }
  .projectRightContainer,
  .projectLanguageContainer,
  .projectDescriptionContainer,
  .projectDescription0,
  .projectDescription1,
  .projectDescription2 {
    width: 350px;
  }
}
