.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 200px;
}

.headerMainContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  margin-bottom: 50px;
}

.purpleFirstLine {
  width: 100px;
  border: 4px 0px 0px 0px;
}

.headerTxtContainer {
  height: 108px;
  gap: 10px;
}

.portfolioTxt {
  margin: 0;
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: center;
  color: #ffff;
}

.sideTextContainer {
  margin: 64px;
  display: flex;
  justify-content: center;
}

.sideText {
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
}

.projectContainer {
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectDisplayFlex0,
.projectDisplayFlex1,
.projectDisplayFlex2 {
  width: 1168px;
  height: 339.19px;
  gap: 35px;
  opacity: 0px;
}

.projectDisplayFlex0,
.projectDisplayFlex2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectDisplayFlex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  flex-direction: row-reverse;
}

.projectDisplayFlex0,
.projectDisplayFlex1 {
  margin-bottom: 64px;
}

.projectNameContainer {
  margin-bottom: 28px;
}

.projectName {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
  color: #9747ff;
}

.projectLanguageContainer {
  margin-bottom: 12px;
}

.projectLanguage {
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  color: #70e61c;
}

.projectDescriptionContainer {
  margin-bottom: 32px;
}

.projectDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}

.projectButtons0,
.projectButtons2 {
  display: flex;
  justify-content: flex-start;
  gap: 90px;
}

.projectButtons1 {
  display: flex;
  justify-content: flex-end;
  gap: 90px;
}

.liveTestButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 58px;
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #9747ff;
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  border: 0;
  text-align: left;
  &:hover{
    cursor: pointer;
    background: #70E61C;
  }
}

.gitHubButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 58px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #70e61c;
  opacity: 0px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  background-color: transparent;
  color: #ffff;
  &:hover{
    cursor: pointer;
    background: #70E61C;
  }
}
@media(max-width: 1353px){
  .purpleSecondLine{
    width: 250px;
    height: 4px;
  }
}

@media(max-width: 1236px){
  .purpleSecondLine{
    width: 350px;
    height: 4px;
  }
  .portfolioTxt{
    font-size: 75px;
  }
}
@media(max-width:1170px){
  .projectDisplayFlex0,
  .projectDisplayFlex1,
  .projectDisplayFlex2{
    width: 100%;
  }
}
@media (max-width: 1150px) {
  .portfolioTxt{
   font-size: 70px;
  }
 }
