<div class="mainContainer">
  <div class="footerLeft">
    <!-- hier muss ein Logo mit meinem Namen kommen -->
    <h2 class="logo">Emre Isik</h2>
    <a href="legalnotice" class="footerLeftSpan"
      >Legal Notice</a
    >
  </div>

  <div class="footerMiddle">
    <span class="footerMiddleSpan">© Emre Isik 2024</span>
  </div>

  <div class="footerRight">
    <a href="https://github.com/EmreIsik96" target="_blank">
      <img class="gitHubIcon" src="./assets/img/footer/githubIcon.png" />
    </a>
    <a href="mailto:emre.isik.mail@gmail.com" target="_blank">
      <img class="emailIcon" src="./assets/img/footer/emailIcon.png" alt="" />
    </a>
    <a href="https://www.linkedin.com/in/emre-isik-a79743264/" target="_blank">
      <img
        class="linkedInIcon"
        src="./assets/img/footer/linkedInIcon.png"
        alt=""
      />
    </a>
  </div>
</div>
