<div class="mainContainer">
    <div class="footerLeft">
        <!-- hier muss ein Logo mit meinem Namen kommen -->
        <h2 class="logo">Emre Isik</h2> 
        <span class="footerLeftSpan">Legal Notice</span>
    </div>

    <div class="footerMiddle">
        <span class="footerMiddleSpan">© Emre Isik 2024</span>
    </div>

    <div class="footerRight">
        <img class="gitHubIcon" src="./assets/img/footer/githubIcon.png"/>
        <img class="emailIcon" src="./assets/img/footer/emailIcon.png" alt="">
        <img class="linkedInIcon" src="./assets/img/footer/linkedInIcon.png" alt="">
    </div>
</div>