.mainContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 300px;
  max-width: 1920px;
}

.skillsIconContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
  width: 664px;
  margin-left: 100px;
  img {
    object-fit: contain;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    height: 94px;
    width: 84px;
    &:hover {
      transform: scale(1.4);
    }
  }
}

.skillsTxtContainer {
  width: 571px;
  height: 400px;
  .mySkillsHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    margin-bottom: 32px;
    .mySkillsHeader {
      margin: 0;
      font-size: 90px;
      font-weight: 700;
      line-height: 108px;
      text-align: right;
      color: #ffff;
    }
    .vectorPurpleSmall {
      width: 180px;
      height: 5px;
    }
  }
  .mySkillsTxtContainer {
    display: grid;
    gap: 30px;
    width: 471px;
    margin-left: -110px;
    .mySkillsTxt {
      width: 500px;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: right;
      color: #ffff;
    }
    .getInTouchContainer {
      display: grid;
      box-sizing: border-box;
      gap: 40px;
      .mySkillsMainTxt {
        text-wrap: wrap;
        width: 500px;
        font-size: 34px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: right;
        color: #ffff;
        .anotherSkillTxt {
          color: #9747ff;
        }
      }
      .mySkillsSecondTxt {
        width: 500px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: right;
        color: #ffff;
      }
      .mySkillButtonContainer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;
        .mySkillButton {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 14px;
          height: 58px;
          gap: 10px;
          border-radius: 10px;
          background: #70e61c;
          font-size: 23px;
          font-weight: 400;
          line-height: 27.6px;
          text-align: left;
          color: #ffff;
          transform: scale(1);
          transition: transform 0.1s ease-in-out;
          &:hover {
            cursor: pointer;
            background: #9747ff;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.greenShadowBg1 {
  position: absolute;
  width: 428.59px;
  height: 951.44px;
  top: 1902.96px;
  left: 0px;
  backdrop-filter: blur(93px);
  z-index: -2;
}


@media (max-width: 1470px) {
  .skillsTxtContainer {
    width: 350px;
    .mySkillsHeaderContainer {
      .mySkillsHeader {
        font-size: 50px;
        text-wrap: nowrap;
      }
    }
    .mySkillsTxtContainer {
      width: 350px;
      margin-left: -90px;
      .getInTouchContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 350px;
        margin-left: 0;
        .mySkillsMainTxt {
          font-size: 25px;
          width: 350px;
        }
        .mySkillsSecondTxt {
          text-wrap: wrap;
          width: 350px;
        }
      }
      .mySkillsTxt {
        width: 350px;
      }
    }
  }
  .skillsIconContainer {
    width: 500px;
    img {
      height: 74px;
      width: 64px;
    }
  }
}
@media (max-width: 1100px) {
  .skillsTxtContainer {
    .mySkillsHeaderContainer {
      .mySkillsHeader {
        font-size: 45px;
      }
      .vectorPurpleSmall {
        width: 100px;
      }
    }
    .mySkillsTxtContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .mySkillsTxt {
        text-align: center;
        width: 270px;
        font-size: 14px;
      }
      .getInTouchContainer {
        align-items: center;
        width: 270px;
        .mySkillsMainTxt {
          font-size: 20px;
          text-align: center;
        }
        .mySkillsSecondTxt {
          text-align: center;
          font-size: 14px;
        }
        .mySkillButtonContainer {
          justify-content: center;
          .mySkillButton{
            text-align: center;
          }
          
        }
      }
    }
  }

  .skillsIconContainer {
    width: 400px;
    gap: 46px;
    margin-left: 50px;
    img {
      height: 64px;
      width: 54px;
    }
  }
}
@media (max-width: 840px) {
  .skillsTxtContainer {
    width: 300px;
    .mySkillsHeaderContainer {
      .vectorPurpleSmall {
        width: 40px;
      }
    }
  }
  .skillsIconContainer {
    width: 300px;
  }
}
@media (max-width: 710px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 500px;
    margin-top: 400px;
  }
  .skillsTxtContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .mySkillsHeaderContainer {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .vectorPurpleSmall {
        display: none;
      }
    }
    .mySkillsTxtContainer {
      margin: 0;
      justify-content: center;
      align-items: center;
      .mySkillsTxt {
        margin-bottom: 300px;
        width: 350px;
      }
    }
  }

  .skillsIconContainer {
    margin: 0;
    width: 100%;
    justify-content: center;
    margin-top: -350px;
  }
}
@media (max-width: 553px) {
  .skillsTxtContainer {
    .mySkillsTxtContainer {
      .mySkillsTxt {
        margin-bottom: 360px;
      }
    }
  }
  .skillsIconContainer {
    margin-top: -400px;
  }
  .greenShadowBg1 {
    width: 320px;
  }
}
@media (max-width: 395px) {
  .skillsTxtContainer {
    .mySkillsTxtContainer {
      width: 270px;
      .mySkillsTxt {
        width: 100%;
        margin-bottom: 430px;
      }
      .getInTouchContainer {
        .mySkillsSecondTxt {
          width: 300px;
        }
      }
    }
  }
  
  .skillsIconContainer {
    width: 320px;
    margin-top: -440px;
  }
}
