<div class="mainContainer">

  <img class="greenShadowBg1" src="./assets/img/skillIcons/green_shadow_bg1.png" alt="">

  <div class="skillsTxtContainer">
    <div class="mySkillsHeaderContainer">
      <h2 class="mySkillsHeader">My skills</h2>
      <img class="vectorPurpleSmall" src="./assets/img/skillIcons/vector_purple_small.png"/>
    </div>

    <div class="mySkillsTxtContainer">
      <span class="mySkillsTxt">
        I have gained experience in building projects with different <br> frontend
        technologies and concepts.
      </span>
      <div class="getInTouchContainer">
        <div class="lookingForTxtContainer">
            <span class="mySkillsMainTxt"> 
                Looking for<span class="anotherSkillTxt">another skill</span>? 
            </span>
    
            <span class="mySkillsSecondTxt">
                Feel free to contact me. I look forward to expanding on my previous
                knowledge.
            </span>
            <div class="mySkillButtonContainer">
                <a href="#contact" class="mySkillButton">Get in touch</a>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="skillsIconContainer">
    @for (item of skillIcons; track item.img) {
    <img src="{{ item.img }}" alt="skill Icons" />
    }
  </div>
</div>
