<header>
    <div class="headerLeft">
        <a href="#homepage" class="homepageMyName">Emre Isik</a>
    </div>
    
    <div class="headerRight">
        <a href="#aboutMe" class="headerRightAboutMe"><span class="aboutMeTxt">About me</span></a>
        <a href="#skills" class="headerRightSkills"><span class="skillsTxt">Skills</span></a>
        <a href="#portfolio" class="headerRightPortfolio"><span class="portfolioTxt">Portfolio</span></a>
        <button class="buttonBurgerContainer" onclick=""><img class="buttonBurgerImg" src="./assets/img/header/burger-menu.png" alt=""></button>
    </div>
    </header>