header {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #141d2f;
  backdrop-filter: blur(65px);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 37px;
  padding-bottom: 37px;
}

.headerLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  width: 326px;
  height: 32px;
  gap: 29px;
  opacity: 0px;
}
.headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 326px;
  height: 32px;
  gap: 29px;
  opacity: 0px;
}
.homepageMyName {
  text-decoration: none;
  color: #ffff;
  font-size: 38px;
  font-weight: 600;
  cursor: pointer;
}
.headerRightAboutMe {
  display: flex;
  align-items: flex-end;
  width: 114px;
  height: 32px;
  padding: 0px 1px 4px 0px;
  color: white;
  text-decoration: none;
  text-wrap: nowrap;
  &:hover {
    color: #70e61c;
    transition: 300ms;
    cursor: pointer;
  }
}
.headerRightSkills {
  display: flex;
  align-items: flex-end;
  width: 59px;
  height: 32px;
  padding: 0px 4px 4px 0px;
  text-decoration: none;
  color: white;
  &:hover {
    color: #70e61c;
    transition: 300ms;
    cursor: pointer;
  }
}
.headerRightPortfolio {
  display: flex;
  align-items: flex-end;
  width: 95px;
  height: 32px;
  padding: 0px 1px 4px 0px;
  text-decoration: none;
  color: white;
  &:hover {
    color: #70e61c;
    transition: 300ms;
    cursor: pointer;
  }
}
.aboutMeTxt {
  width: 113px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
}
.skillsTxt {
  width: 55px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
}
.portfolioTxt {
  width: 94px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
}
@media (max-width: 1477px) {
  header {
    padding-right: 50px;
    padding-left: 70px;
  }
}

@media (max-width: 1000px) {
  .homepageMyName {
    font-size: 34px;
  }
  .aboutMeTxt,
  .skillsTxt,
  .portfolioTxt {
    font-size: 20px;
  }
}

@media (max-width: 840px) {
  .headerRight {
    gap: 18px;
  }
  header {
    padding-right: 30px;
    padding-left: 30px;
  }
}
