.impressum {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-wrap: wrap;
  color: white;
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 100px;
  margin-bottom: -200px;
}
