.mainContainer {
  height: 100vh;
  margin-top: -10px;
  gap: 0px;
  opacity: 0px;
}
.mainImagesContainer {
  display: flex;
  z-index: -100;
}
.mainImage {
  width: 646px;
  height: 705px;
  gap: 0px;
  opacity: 0px;
}
.d-flexImgAndTxt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgShadowOnMain {
  position: absolute;
  width: 690.7px;
  height: 671.38px;
  gap: 0px;
  margin-left: -60px;
  margin-top: 90px;
  opacity: 0px;
  z-index: -1;
}
.mainIamTxtContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 172px;
}
.iamTxtContainer {
  height: 62px;
  width: 172px;
  text-wrap: nowrap;
  transform: rotate(-90deg);
}
.iamTxt {
  font-size: 64px;
  font-weight: 400;
  line-height: 76.8px;
  text-align: left;
  color: white;
  margin-right: 12px;
}
.nameTxt {
  margin: 0;
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
  color: white;
}
.jobDescriptionTxt {
  font-size: 58px;
  font-weight: 400;
  line-height: 69.6px;
  text-align: left;
  color: #9747ff;
  margin: 0;
}
.scollDownContainer {
  width: 28px;
  height: 125px;
  position: absolute;
  top: 773px;
  right: 0px;
  padding-right: 100px;
  gap: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  transform: rotate(90deg);
}
.scrollDownTxt {
  width: 133px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  color: white;
}
.arrowDownContainer {
  width: 24px;
  height: 24px;
  padding: 4px 4.22px 4px 4.22px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-90deg);
}
.arrowDownImg {
  width: 15.56px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
}
.buttonOnMainContainer {
  display: flex;
  justify-content: center;
  margin-left: 700px;
  margin-top: -220px;
}
.buttonOnMain {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 58px;
  gap: 10px;
  border-radius: 10px;
  border: 0;
  opacity: 0px;
  background: #70e61c;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    background: #9747ff;
    transform: scale(1.1);
  }
}
.buttonTxtOnMain {
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  color: white;
  text-wrap: nowrap;
}
.referencesContainer {
  width: 566px;
  height: 230px;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.vectorPurpleContainer {
  border: 4px 0px 0px 0px;
  opacity: 0px;
}
.vectorPurple {
  width: 140px;
  height: 5px;
}
.githubIconContainer,
.emailIconContainer,
.linkedInIconContainer {
  width: 30px;
  height: 30px;
  gap: 0px;
  opacity: 0px;
}
.emailTxtContainer {
  width: 248px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
}
.emailTxt {
  font-size: 23px;
  line-height: 27.6px;
  text-decoration: none;
  text-align: left;
  color: white;
  text-wrap: nowrap;
  cursor: pointer;
}
.githubIcon,
.emailIcon,
.linkedInIcon {
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}

@media (max-width: 1477px) {
  .mainIamTxtContainer {
    width: 50px;
  }
  .buttonOnMainContainer {
    margin-left: 580px;
  }
  .scollDownContainer {
    top: 800px;
    right: 25px;
    height: 0;
  }
  .referencesContainer {
    height: 0;
    margin-top: 150px;
  }
}

@media (max-width: 1341px) {
  .jobDescriptionTxt {
    text-wrap: nowrap;
    font-size: 50px;
  }
}

@media (max-width: 1236px) {
  .nameTxt {
    font-size: 75px;
    text-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: -5px;
  }
  .iamTxt {
    line-height: 100px;
    font-size: 60px;
  }
  .jobDescriptionTxt {
    font-size: 45px;
  }
  .mainIamTxtContainer {
    margin-left: -50px;
  }
}

@media (max-width: 1150px) {
  .iamTxt {
    line-height: 100px;
    font-size: 60px;
  }
  .nameTxt {
    font-size: 70px;
    margin-bottom: -10px;
  }
  .jobDescriptionTxt {
    font-size: 40px;
  }
  .iamTxt {
    font-size: 55px;
  }
}

@media (max-width: 1093px) {
  .iamTxt {
    font-size: 55px;
  }
  .nameTxt {
    font-size: 60px;
    margin-bottom: -15px;
  }
  .jobDescriptionTxt {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .iamTxt {
    font-size: 50px;
  }
}

@media (max-width: 1040px) {
  .mainImage {
    height: 600px;
    width: 559px;
    margin-top: 10px;
  }
  .referencesContainer {
    margin-top: 230px;
  }
  .buttonOnMainContainer {
    margin-right: 60px;
  }
}

@media (max-width: 960px) {
  .mainImage {
    height: 550px;
    width: 510px;
    margin-top: 0px;
    margin-left: -50px;
  }
  .nameTxt {
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: -35px;
  }
  .jobDescriptionTxt {
    font-size: 30px;
  }
  .iamTxt {
    font-size: 40px;
  }
  .buttonOnMainContainer {
    margin-top: -200px;
    margin-right: 140px;
  }
  .bgShadowOnMain {
    margin-left: -95px;
    margin-top: 90px;
  }
  .scollDownContainer {
    margin-top: -50px;
  }
}

@media (max-width: 840px) {
  .mainImage {
    height: 500px;
    width: 460px;
    margin-top: 0px;
    margin-left: -50px;
  }
  .nameTxt {
    font-size: 45px;
    margin-top: 6px;
    margin-bottom: -40px;
  }
  .jobDescriptionTxt {
    font-size: 25px;
  }
  .iamTxt {
    font-size: 35px;
  }
  .buttonOnMainContainer {
    margin-top: -180px;
    margin-right: 100px;
    width: 200px;
  }
  .buttonOnMain {
    margin-left: -150px;
  }
  .bgShadowOnMain {
    margin-left: -150px;
    margin-top: 90px;
  }
  .scollDownContainer {
    margin-top: -80px;
  }
  .referencesContainer {
    gap: 20px;
  }
  .vectorPurple {
    width: 60px;
    margin-left: -74px;
  }
}

@media (max-width: 779px) {
  .buttonOnMainContainer {
    width: 120px;
  }
}

@media (max-width: 730px) {
  .mainContainer {
    margin-top: 100px;
  }
  .buttonOnMain {
    margin-left: -120px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
  }
  .buttonOnMainContainer {
    width: 0;
  }
  .mainImage {
    height: 400px;
    width: 380px;
    margin-top: 0px;
    margin-left: -100px;
  }
  .bgShadowOnMain {
    margin-left: -250px;
    margin-top: 0px;
  }
  .scollDownContainer {
    margin-top: -100px;
    margin-right: -30px;
  }
  .referencesContainer {
    margin-top: 150px;
  }
  .vectorPurple {
    width: 60px;
    margin-left: -74px;
  }

  .d-flexImgAndTxt {
    margin-left: 50px;
  }
}

@media (max-width: 690px) {
  .buttonOnMain {
    margin-left: -180px;
  }
}

@media (max-width: 650px) {
  .buttonOnMain {
    margin-left: -230px;
  }
}

@media (max-width: 630px) {
  .mainContainer {
    margin: 0;
    height: 100vh;
    margin-bottom: 200px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .d-flexImgAndTxt {
    display: block;
    height: 90vh;
    margin: 0;
  }
  .mainImagesContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .bgShadowOnMain {
    width: 100%;
    margin: 0;
    z-index: -3;
  }
  .mainImage {
    z-index: -2;
    margin: 0;
    margin-right: -40px;
    height: 450px;
    width: 430px;
  }
  .nameTxtContainer {
    width: 200px;
  }
  .nameTxt {
    font-size: 45px;
    margin: 0;
    line-height: 35px;
    width: 200px;
  }
  .jobDescriptionContainer,
  .jobDescriptionTxt {
    width: 280px;
  }
  .infoTxtContainer {
    margin-top: -160px;
    margin-left: 100px;
    width: 280px;
  }
  .mainIamTxtContainer {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .iamTxtContainer {
    margin-left: 60px;
    margin-top: -68px;
  }
  .iamTxt {
    margin: 0;
  }
  .buttonOnMain {
    margin-left: -470px;
    margin-top: 0px;
    margin-bottom: 60px;
  }
  .scollDownContainer {
    display: none;
  }
  .referencesContainer {
    margin-top: 0;
    width: 400px;
    margin-left: -82px;
  }
}

@media (max-width: 610px) {
  .referencesContainer {
    gap: 16px;
    width: 400px;
    margin-left: -200px;
  }
  .vectorPurple {
    width: 60px;
    margin: 0;
  }
}

@media (max-width: 550px) {
  .vectorPurple {
    width: 120px;
    margin: 0;
  }
}

@media (max-width: 530px) {
  .githubIcon,
  .linkedInIcon,
  .emailIcon {
    height: 26px;
  }
  .emailTxt {
    font-size: 22px;
  }
  .referencesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -122px;
    width: 400px;
  }
  .vectorPurple {
    width: 60px;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .mainImage {
    z-index: -2;
    margin: 0;
    margin-right: -25px;
    height: 450px;
    width: 430px;
  }
  .buttonOnMainContainer {
    margin-right: 0;
    margin-left: 460px;
  }
}

@media (max-width: 470px) {
  .referencesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -122px;
    width: 200px;
  }
  .vectorPurple {
    width: 100px;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .mainImage {
    height: 400px;
    width: 370px;
    margin: 0;
    margin-top: -25px;
  }
  .buttonOnMainContainer {
    margin-top: -240px;
    margin-right: 0;
    margin-left: -220px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .bgShadowOnMain{
    margin-top: -30px;
  }
}

@media (max-width: 400px) {
  .mainImage {
    margin-top: 0px;
  }
  .buttonOnMainContainer {
    margin-top: -160px;
    margin-right: 0;
    margin-left: -200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .iamTxtContainer{
    margin-top: 0px;
    margin-left: 0px;
  }
  .infoTxtContainer{
    width: 280px;
    margin-left: 80px;
    margin-top: -123px;
  }
  .nameTxtContainer{
    margin-bottom: -4px;
  }
  .jobDescriptionContainer,.jobDescriptionTxt{
    height: 35px;
    margin: 0;
    margin-top: -2px;
  }
  .bgShadowOnMain{
    margin-top: -20px;
  }
  .githubIcon,
  .linkedInIcon,
  .emailIcon {
    height: 20px;
    margin-top: 6px;
  }
  .emailTxtContainer {
    margin-top: 6px;
  }
  .emailTxt {
    font-size: 18px;
  }
  .referencesContainer {
    margin-left: -80px;
    width: 320px;
  }
  .vectorPurple {
    width: 20px;
    margin: 0;
  }
}

@media (max-width: 390px) {
  .mainImagesContainer{
    width: 320px;
    margin-top: 16px;
  }
  .mainImage{
    height: 350px;
    width: 320px;
  }
  .mainIamTxtContainer{
    width: 0;
    margin-left: 0px;
  }
  .iamTxtContainer{
    margin-top: 0px;
  }
  .infoTxtContainer{
    width: 280px;
    margin-left: 50px;
    margin-top: -124px;
  }
  .jobDescriptionContainer,.jobDescriptionTxt{
    height: 35px;
    margin: 0;
    margin-top: -2px;
  }
  .referencesContainer {
    margin-left: -70px;
    width: 320px;
  }
  .vectorPurple {
    width: 20px;
    margin: 0;
  }
  .buttonOnMainContainer{
    margin-left: -200px;
    margin-top: -200px;
  }
  .bgShadowOnMain {
    margin-top: -30px;
  }
}

@media (max-width: 360px) {
  .referencesContainer {
    margin-left: -48px;
    width: 280px;
  }
  .vectorPurple {
    width: 20px;
    margin: 0;
  }
  .buttonOnMainContainer{
    margin-left: -140px;
  }
}

@media (max-width: 340px) {
  .nameTxt {
    font-size: 40px;
  }
  .jobDescriptionTxt {
   font-size: 20px;
  }
  .iamTxt{
    font-size: 32px;
  }
  .mainImagesContainer{
    width: 320px;
    margin-top: 16px;
    margin-left: 0px;
  }
  .mainIamTxtContainer{
    width: 0;
  }
  .iamTxtContainer{
    margin-left: 0px;
    margin-right: -50px;
  }
  .infoTxtContainer{
    width: 200px;
    margin-left: 80px;
    margin-top: -124px;
  }
  .jobDescriptionContainer,.jobDescriptionTxt{
    width: 200px;
    height: 35px;
    margin: 0;
    margin-top: -2px;
  }
  .bgShadowOnMain{
    width: 320px;
  }
  .referencesContainer {
    margin-left: -20px;
    width: 320px;
  }
  .vectorPurple {
    width: 20px;
    margin: 0;
  }
  .buttonOnMainContainer{
    margin-left: -140px;
    margin-top: -200px;
  }
}