<div id="homepageID" class="mainContainer">

  <div class="d-flexImgAndTxt">
    <div class="mainImagesContainer">
      <img class="mainImage" src="./assets/img/homepage/mainImage.png" alt="" 
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"/>
      <img class="bgShadowOnMain" src="./assets/img/homepage/bg_shadow1.png" alt="" />
    </div>

    <div class="mainIamTxtContainer"
    data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" >
      <div class="iamTxtContainer">
        <span class="iamTxt">I am</span>
      </div>
    </div>
    <div class="infoTxtContainer" 
    data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" >
      <div class="nameTxtContainer">
        <h1 class="nameTxt">Emre Isik</h1>
      </div>
      <div class="jobDescriptionContainer">
        <h2 class="jobDescriptionTxt">FRONTEND DEVELOPER</h2>
      </div>
    </div>
  </div>

  <div class="buttonOnMainContainer" 
  data-aos="fade-left"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine" >
    <a href="#contact" class="buttonOnMain">
      <span class="buttonTxtOnMain">Let´s talk!</span>
    </a>
  </div>
  
  <div class="scollDownContainer">
    <span class="scrollDownTxt">Scroll down</span>
    <div class="arrowDownContainer">
      <img class="arrowDownImg" src="./assets/img/homepage/arrow_down.png" />
    </div>
  </div>

  <div class="referencesContainer" 
  data-aos="fade-right"
  data-aos-offset="100"
  data-aos-easing="ease-in-sine" >
    <div class="vectorPurpleContainer">
      <img class="vectorPurple" src="./assets/img/homepage/vector_purple.png"/>
    </div>
    <div class="githubIconContainer">
      <a href="https://github.com/EmreIsik96" target="_blank">
        <img class="githubIcon" src="./assets/img/homepage/githubIcon.png" alt="githubIcon" />
      </a>
    </div>
    <div class="emailIconContainer">
      <a href="mailto:emre-isik@web.de" target="_blank">
        <img class="emailIcon" src="./assets/img/homepage/emailIcon.png" alt="githubIcon" />
      </a>
    </div>
    <div class="linkedInIconContainer">
      <a href="https://www.linkedin.com/in/emre-isik-a79743264/" target="_blank">
        <img class="linkedInIcon" src="./assets/img/homepage/linkedInIcon.png" alt="githubIcon" />
      </a>
    </div>
    <div class="emailTxtContainer">
      <a href="#contact" class="emailTxt">emre-isik&#64;web.de</a>
    </div>
  </div>
</div>
