<div id="homepageID" class="mainContainer">

  <div class="d-flexImgAndTxt">
    <div class="mainImagesContainer">
      <img class="mainImage" src="./assets/img/homepage/mainImage.png" alt="" />
      <img class="bgShadowOnMain" src="./assets/img/homepage/bg_shadow1.png" alt="" />
    </div>

    <div class="mainIamTxtContainer">
      <div class="iamTxtContainer">
        <span class="iamTxt">I am</span>
      </div>
    </div>
    <div class="infoTxtContainer">
      <div class="nameTxtContainer">
        <h1 class="nameTxt">Emre Isik</h1>
      </div>
      <div class="jobDescriptionContainer">
        <h2 class="jobDescriptionTxt">FRONTEND DEVELOPER</h2>
      </div>
    </div>
  </div>

  <div class="buttonOnMainContainer">
    <button (click)="scrollToContact()" class="buttonOnMain">
      <span class="buttonTxtOnMain">Let´s talk!</span>
    </button>
  </div>
  
  <div class="scollDownContainer">
    <span class="scrollDownTxt">Scroll down</span>
    <div class="arrowDownContainer">
      <img class="arrowDownImg" src="./assets/img/homepage/arrow_down.png" />
    </div>
  </div>

  <div class="referencesContainer">
    <div class="vectorPurpleContainer">
      <img class="vectorPurple" src="./assets/img/homepage/vector_purple.png"/>
    </div>
    <div class="githubIconContainer">
      <img class="githubIcon" src="./assets/img/homepage/githubIcon.png" alt="githubIcon" />
    </div>
    <div class="emailIconContainer">
      <img class="emailIcon" src="./assets/img/homepage/emailIcon.png" alt="githubIcon" />
    </div>
    <div class="linkedInIconContainer">
      <img class="linkedInIcon" src="./assets/img/homepage/linkedInIcon.png" alt="githubIcon" />
    </div>
    <div class="emailTxtContainer">
      <a href="#contactIDHref" class="emailTxt">emre-isik&#64;web.de</a>
    </div>
  </div>
</div>
