.mainContainer {
  height: 747px;
  gap: 0px;
  opacity: 0px;
  border: Mixed solid #ffffff;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 32px;
  .header {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    text-align: center;
    color: #ffffff;
  }
}

.contactDFlex {
  display: flex;
  justify-content: center;
  gap: 300px;
}

.contactInsideContainer {
  display: flex;
  flex-direction: column;
  width: 474px;
  height: 19px;
  gap: 0px;
  opacity: 0px;
  .contactInsideHeaderTxt {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: #ffffff;
  }
  .contactInsideSpanTxt1,
  .contactInsideSpanTxt2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #ffffff;
  }
}

.contactMe {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
  &:hover {
    cursor: pointer;
  }
}

.contactFormularContainer {
  height: 508px;
}

.inputName,
.inputEmail {
  width: 617px;
  height: 50px;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #9747ff;
  background: #141d2f;
  color: #ffffff;
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #ffffff;
  }
}

.inputNameRequiredContainer,
.inputEmailRequiredContainer,
.inputMessageRequiredContainer {
  color: red;
  margin-top: 10px;
  margin-bottom: 28px;
}

.inputMessageAndPolicyContainer {
  display: grid;
  width: 617px;
  height: 344px;
  gap: 16px;
  opacity: 0px;
  .privacyPolicyMainContainer {
    display: grid;
    width: 617px;
    height: 126px;
  }
}

.goUpButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: -50px;
  .goUpButton {
    cursor: pointer;
    height: 42px;
    width: 42px;
  }
}

.privacyPolicySecondContainer {
  display: grid;
  width: 617px;
  height: 52px;
  gap: 8px;
  opacity: 0px;
  margin-bottom: 10px;
  .privacyPolicy {
    display: flex;
    align-items: center;
    width: 650px;
    height: 27px;
    opacity: 0px;
  }
}

.inputMessageContainer,
.inputMessage {
  display: grid;
  width: 617px;
  height: 202px;
  padding: 15px 25px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #9747ff;
  background: #141d2f;
  color: #ffff;
  opacity: 0px;
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #ffffff;
  }
}

.checkbox {
  width: 18px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
  margin-right: 10px;
}

.contactSpan1,
.contactSpan2 {
  color: #ffffff;
}

.textButtonPrivacyPolicy {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #9747ff;
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.sendButtonActive,
.sendButtonDisable {
  width: 253px;
  height: 58px;
  padding: 15px 30px;
  gap: 10px;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  box-shadow: 4px 4px 4px 0px #00000040;
  &.sendButtonActive {
    background: #70e61c;
    cursor: pointer;
  }
  &.sendButtonDisable {
    background: #b6b6b6;
    cursor: pointer;
  }
}

.sendPostPopUpContainer {
  position: fixed;
  top: 40%;
  bottom: 50%;
  left: 40%;
  color: #9747ff;
  width: 26%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #70e61c;
  border: 5px solid #9747ff;
  border-radius: 15px;
  .OKButton {
    width: 100px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
    background-color: #9747ff;
    &:hover {
      cursor: pointer;
      transition: 75ms ease-in-out;
      scale: 1.2;
    }
  }
}

@media (max-width: 1500px) {
  .contactDFlex {
    gap: 100px;
  }
  .vectorLineHeader {
    width: 250px;
    height: 4px;
  }
}
@media (max-width: 1280px) {
  .headerContainer {
    .header {
      font-size: 70px;
    }
  }
  .inputName,
  .inputEmail,
  .inputMessage {
    width: 450px;
  }
  .privacyPolicySecondContainer {
    height: 24px;
    width: 500px;
    .privacyPolicy {
      width: 500px;
      font-size: 12px;
    }
  }
  .contactSpan1,
  .textButtonPrivacyPolicy,
  .contactSpan2 {
    text-wrap: nowrap;
  }
  .inputMessageRequiredContainer {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .sendButtonDisable,
  .sendButtonActive {
    width: 200px;
    height: 58px;
    padding: 10px 10px 10px 10px;
  }
  .goUpButtonContainer {
    margin-top: 50px;
    margin-right: 0px;
  }
  .contactFormularContainer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
    width: 520px;
  }
  .contactInsideContainer {
    width: 300px;
  }
}
@media (max-width: 985px) {
  .headerContainer {
    .header {
      font-size: 50px;
    }
  }
  .inputName,
  .inputEmail,
  .inputMessage {
    width: 300px;
    height: 30px;
    &.inputMessage {
      height: 130px;
    }
  }
  .contactSpan2 {
    margin-top: 40px;
    margin-left: -180px;
  }
  .privacyPolicySecondContainer {
    width: 350px;
    height: 24px;
    margin-bottom: 40px;
    .privacyPolicy {
      width: 350px;
    }
  }
  .sendButtonDisable,
  .sendButtonActive {
    width: 160px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .goUpButtonContainer {
    margin-right: 60px;
  }
  .contactFormularContainer {
    margin-top: 45px;
    width: 360px;
  }
  .contactInsideContainer {
    margin-right: -30px;
    width: 240px;
    .contactInsideSpanTxt1,
    .contactInsideSpanTxt2 {
      font-size: 12px;
    }
    .contactInsideHeaderTxt {
      font-size: 25px;
    }
  }
  .contactMe {
    font-size: 14px;
  }
}
@media (max-width: 780px) {
  .inputName,
  .inputEmail,
  .inputMessage {
    width: 250px;
  }
  .contactFormularContainer {
    width: 310px;
  }
  .privacyPolicySecondContainer {
    width: 300px;
    .privacyPolicy {
      width: 300px;
    }
  }
  .contactSpan2 {
    margin-left: -205px;
  }
}
@media (max-width: 630px) {
  .mainContainer {
    margin-top: 250px;
  }
  .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    margin: 0;
  }
  .vectorLineHeader {
    display: none;
  }
  .contactDFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .contactInsideHeaderTxt {
    margin-top: 0;
    margin-bottom: 20px;
    width: 320px;
    text-align: center;
  }
  .contactInsideContainer {
    width: 100%;
    margin: 0;
    height: max-content;
    display: flex;
    align-items: center;
  }
  .contactInsideSpanTxt1,
  .contactInsideSpanTxt2 {
    width: 320px;
    text-align: center;
  }
  .inputName,
  .inputEmail,
  .inputMessage {
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form,
  .contactFormularContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .inputMessageRequiredContainer {
    font-size: 16px;
  }
  .contactSpan2 {
    margin-bottom: 16px;
  }
  .privacyPolicySecondContainer {
    margin-bottom: 50px;
  }
  .privacyPolicy,
  .privacyPolicySecondContainer {
    margin-left: -60px;
  }
  .contactSpan1,
  .contactSpan2,
  .textButtonPrivacyPolicy {
    font-size: 16px;
  }
  .contactSpan2 {
    margin-left: -218px;
    margin-top: 50px;
  }
  .checkboxRequiredSpanContainer {
    margin-top: 8px;
    margin-left: -32px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .privacyPolicyMainContainer,
  .inputMessageAndPolicyContainer {
    width: 400px;
  }
  .goUpButtonContainer {
    margin-top: 50px;
    margin-right: -30px;
  }
}
@media (max-width: 520px) {
  .inputName,
  .inputEmail,
  .inputMessage {
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactFormularContainer {
    width: 330px;
  }
  .contactInsideContainer {
    display: flex;
    align-items: center;
    width: 300px;
  }
  .privacyPolicySecondContainer {
    margin-bottom: 50px;
  }
  .privacyPolicy,
  .privacyPolicySecondContainer {
    margin-left: -26px;
  }
  .contactSpan1,
  .contactSpan2,
  .textButtonPrivacyPolicy,
  .inputMessageRequiredContainer
    .inputEmailRequiredContainer
    .inputNameRequiredContainer,
  .checkboxRequiredSpanContainer {
    font-size: 14px;
  }
  .contactSpan2 {
    margin-bottom: 16px;
    margin-left: -192px;
    margin-top: 50px;
  }
  .checkboxRequiredSpanContainer {
    margin-left: 0px;
  }
  .goUpButtonContainer {
    margin-right: 0px;
  }
  .contactInsideHeaderTxt,
  .contactInsideSpanTxt2 {
    width: 300px;
  }
  .contactInsideSpanTxt1 {
    text-wrap: wrap;
    width: 400px;
    text-align: center;
  }
}
@media (max-width: 470px) {
  .inputName,
  .inputEmail,
  .inputMessage {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactDFlex {
    margin: 0;
  }
  .contactFormularContainer {
    width: 300px;
  }
  .privacyPolicy,
  .privacyPolicySecondContainer {
    margin-left: -16px;
  }
  .contactSpan1,
  .contactSpan2,
  .textButtonPrivacyPolicy,
  .inputMessageRequiredContainer
    .inputEmailRequiredContainer
    .inputNameRequiredContainer,
  .checkboxRequiredSpanContainer {
    font-size: 12px;
  }
  .contactSpan2 {
    margin-bottom: 16px;
    margin-left: -165px;
    margin-top: 50px;
  }
  .contactInsideHeaderTxt,
  .contactInsideSpanTxt2 {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .header {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  .contactInsideSpanTxt1 {
    width: 260px;
  }
  .contactInsideSpanTxt2,
  .contactInsideHeaderTxt {
    text-align: center;
  }
  .privacyPolicyMainContainer,
  .goUpButtonContainer,
  .inputMessageAndPolicyContainer {
    width: 320px;
  }
}
@media (max-width: 390px) {
  .inputName,
  .inputEmail,
  .inputMessage {
    width: 260px;
  }
  .contactFormularContainer {
    width: 260px;
    margin-top: 20px;
  }
  .privacyPolicy,
  .privacyPolicySecondContainer {
    margin-left: -8px;
    width: 320px;
  }
  .contactSpan2 {
    margin-bottom: 16px;
    margin-left: -165px;
    margin-top: 50px;
  }
  .contactInsideHeaderTxt,
  .contactInsideSpanTxt2 {
    width: 260px;
  }
}
@media (max-width: 340px) {
  .inputName,
  .inputEmail,
  .inputMessage {
    width: 240px;
  }
  .contactFormularContainer {
    width: 240px;
    margin-top: 120px;
  }
  .privacyPolicy,
  .privacyPolicySecondContainer {
    margin-left: 0px;
    width: 320px;
  }
  .contactSpan2 {
    margin-bottom: 16px;
    margin-left: -190px;
    margin-top: 50px;
  }
  .contactInsideHeaderTxt,
  .contactInsideSpanTxt2 {
    width: 260px;
  }
  .vectorLineHeader {
    width: 40px;
  }
  .privacyPolicyMainContainer,
  .goUpButtonContainer {
    width: 300px;
  }
}
