<div id="contactMain" class="mainContainer">
  <div class="headerContainer">
    <img src="./assets/img/contact/linie_purple_long.png" />
    <h2 class="header">Contact</h2>
  </div>

  <div class="contactDFlex">
    <div class="contactInsideContainer">
      <h4 class="contactInsideHeaderTxt">Got a problem to solve?</h4>
      <span class="contactInsideSpanTxt1">
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.</span>
      <br/>
      <span class="contactInsideSpanTxt2">
        Need a Frontend developer?
        <span class="contactMe">Contact me!</span>
    </span>
    </div>

    <div class="contactFormularContainer">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input #name="ngModel" minlength="4" [(ngModel)]="contactData.name" name="name"  class="inputName" type="name" placeholder="Your name" required/>
        <div class="inputNameRequiredContainer">
          @if (!name.valid && name.touched) {
            <span style="color: red;">Please enter your name</span>
          }
        </div>

        <input #email="ngModel" minlength="4" [(ngModel)]="contactData.email" name="email" class="inputEmail" type="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"/>
        <div class="inputEmailRequiredContainer">
          @if (!email.valid && email.touched) {
            <span style="color: red;">Please enter your email adress</span>
          }
        </div>

        <input #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message" class="inputMessage" type="message" placeholder="Your message" required/>
        <div class="inputMessageRequiredContainer">
          @if (!message.valid && message.touched) {
            <span style="color: red;">Please enter a message</span>
          }
        </div>
       
        <div class="privacyPolicySecondContainer">
          <div class="privacyPolicy">
            <input (click)="checked()" name="checkbox" #checkbox="ngModel" [(ngModel)]="contactData.checkbox" class="checkbox" type="checkbox" required/>
            <span class="contactSpan1">I've read the</span>
            <a href="privacypolicy" target="_blank" class="textButtonPrivacyPolicy">privacy policy</a>
            <span class="contactSpan2">and agree to the processing of my data as outlined.</span>
          </div>
          <div #privacySpan style="display: none;" *ngIf="!accepted">
            <span style="color: red;">Please accept the privacy policy</span>
          </div>
        </div>
       
        @if (!message.valid || !email.valid || !name.valid || !checkbox.touched) {
          <input (click)="checkPrivacy()" type="submit" value="Send message :)" class="sendButtonDisable">
        }
        @else if (message.valid && email.valid && name.valid && checkbox.touched){
          <input type="submit" value="Send message :)" class="sendButtonActive">
        }
      </form>
      
      <div class="inputMessageAndPolicyContainer">
        <div class="privacyPolicyMainContainer">
          <div class="goUpButtonContainer">
            <img (click)="scrollToHomepage()" class="goUpButton"src="./assets/img/contact/go_up_button.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
