.mainAboutMeContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
  height: 630px;
  margin-left: 270px;
  max-width: 1920px;
}

.vectorBlackContainerBack {
  position: absolute;
  z-index: -100;
  left: 0;
  right: 0;
  margin-top: -415px;
}

.vectorBlackBack {
  width: 100%;
  height: 500px;
}

.aboutMeTxtContainer {
  width: 471px;
  height: 532px;
  gap: 0px;
  opacity: 0px;
}

.aboutMeTxtSecondContainer {
  display: grid;
  width: 471px;
  height: 532px;
  gap: 40px;
  opacity: 0px;
}

.aboutMeHeaderContainer {
  width: 471px;
  height: 108px;
  gap: 0px;
  opacity: 0px;
}

.aboutMeTxt {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.aboutMeDescriptionContainer {
  width: 471px;
  height: 384px;
}

.prefaceContainer {
  display: grid;
  width: 471px;
  height: 76px;
  gap: 32px;
  opacity: 0px;
}

.prefaceTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}

.strengthsContainer {
  display: grid;
  gap: 32px;
  opacity: 0px;
}

.strength1Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  gap: 16px;
  opacity: 0px;
}

.strength2Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  gap: 16px;
  opacity: 0px;
}

.strength3Container {
  display: flex;
  gap: 16px;
  opacity: 0px;
}

.locationImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0px 2px 0px 2px;
  gap: 10px;
  opacity: 0px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}

.locationImg {
  width: 25.33px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
}

.locationTxtContainer {
  width: 407px;
  height: 57px;
  gap: 0px;
  opacity: 0px;
}

.locationTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}

.bulbImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  padding: 0px 2px 0px 2px;
  gap: 10px;
  opacity: 0px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}

.bulbImg {
  width: 46px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
}

.bulbTxtContainer {
  width: 407px;
  height: 57px;
  gap: 0px;
  opacity: 0px;
}

.bulbTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}

.puzzleImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 1px 0px 0px 0px;
  gap: 10px;
  opacity: 0px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}

.puzzleImg {
  width: 46px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
}

.puzzleTxtContainer {
  width: 407px;
  height: 114px;
  gap: 0px;
  opacity: 0px;
}

.puzzleTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}

.profilePictureMainContainer {
  width: 453px;
  height: 453px;
  gap: 0px;
  opacity: 0px;
}

.ellipseGreen {
  width: 453px;
  height: 453px;
  position: absolute;
  gap: 0px;
  border: 4px 0px 0px 0px;
  opacity: 0px;
}

.profilePictureContainer {
  width: 453px;
  height: 453px;
  top: 1107px;
  left: 720px;
  gap: 0px;
  opacity: 0px;
}

.d-flex-vectorWithProfileCircle {
  display: flex;
  align-items: center;
}

.profileAndVectorMaincontainer {
  display: flex;
  align-items: center;
}

.purple_shadow {
  position: absolute;
  top: 850px;
  right: 0px;
  backdrop-filter: blur(93px);
  z-index: -100;
}

@media (max-height: 1648px) and (max-width: 3760px) {
  .vectorBlackContainerBack {
    margin-top: -1130px;
  }
  .mainAboutMeContainer {
    margin-top: -500px;
  }
}

// Max-Height: 915px

@media (max-height: 915px) and (max-width: 3760px) {
  .vectorBlackContainerBack {
    margin-top: -1140px;
  }
  .mainAboutMeContainer {
    margin-top: -500px;
  }
}

@media (max-height: 915px) and (max-width: 1920px) {
  .vectorBlackContainerBack {
    margin-top: -418px;
  }
  .mainAboutMeContainer {
    margin-left: 170px;
    margin-top: 100px;
  }
}

@media (max-height: 915px) and (max-width: 1477px) {
  .mainAboutMeContainer {
    margin-left: 100px;
  }
  .vectorGreenLong {
    width: 100px;
    height: 5px;
  }
}

@media (max-height: 915px) and (max-width: 1236px) {
  .aboutMeTxt {
    font-size: 75px;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 14px;
  }
  .profilePictureMainContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .profilePictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -60px;
  }
  .ellipseGreen {
    width: 353px;
    height: 353px;
  }
  .profileImg {
    height: 300px;
    width: 300px;
  }
  .vectorGreenLong {
    width: 150px;
    height: 5px;
  }
}

@media (max-height: 915px) and (max-width: 1174px) {
  .mainAboutMeContainer {
    margin-left: 50px;
    justify-content: space-between;
  }
}

@media (max-height: 915px) and (max-width: 1150px) {
  .aboutMeTxt {
    font-size: 70px;
  }
}

@media (max-height: 915px) and (max-width: 1130px) {
  .vectorGreenLong {
    width: 72px;
  }
}

@media (max-height: 915px) and (max-width: 1050px) {
  .prefaceContainer {
    display: block;
    width: 400px;
    text-wrap: wrap;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 12px;
  }
  .strengthsContainer {
    margin-top: 32px;
  }
  .strength1Container,
  .strength2Container,
  .strength3Container {
    text-wrap: wrap;
    width: 350px;
  }
  .locationImgContainer {
    width: 60px;
    margin-right: 4px;
  }
  .aboutMeDescriptionContainer {
    width: 370px;
  }
  .profileAndVectorMaincontainer {
    margin-left: -300px;
  }
}

@media (max-height: 915px) and (max-width: 1040px) {
  .vectorBlackContainerBack {
    margin-top: -506px;
    rotate: (0deg);
  }
}

@media (max-height: 915px) and (max-width: 960px) {
  .vectorBlackContainerBack {
    margin-top: -560px;
    rotate: (0deg);
  }
  .mainAboutMeContainer {
    margin-top: -100px;
  }
  .aboutMeTxt {
    font-size: 50px;
  }
}

@media (max-height: 915px) and (max-width: 930px) {
  .profilePictureContainer {
    width: 400px;
    height: 353px;
  }
  .ellipseGreen {
    width: 280px;
    height: 280px;
  }
  .profileImg {
    height: 260px;
    width: 260px;
  }
  .vectorGreenLong {
    width: 100px;
    height: 3px;
  }
}

@media (max-height: 915px) and (max-width: 860px) {
  .vectorGreenLong {
    width: 40px;
    height: 2px;
  }
  .profilePictureContainer {
    width: 280px;
    height: 353px;
    margin-right: 0px;
    margin-left: -100px;
  }
}

@media (max-height: 915px) and (max-width: 840px) {
  .vectorBlackContainerBack {
    margin-top: -614px;
    rotate: (0deg);
  }
  .aboutMeTxt {
    font-size: 45px;
  }
}

@media (max-height: 915px) and (max-width: 785px) {
  .profilePictureContainer {
    width: 200px;
    height: 353px;
    margin-right: 30px;
  }
  .ellipseGreen {
    width: 250px;
    height: 250px;
  }
  .profileImg {
    height: 250px;
    width: 250px;
  }
  .vectorGreenLong {
    width: 40px;
    height: 2px;
  }
  .prefaceContainer,
  .strength1Container,
  .strength2Container,
  .strength3Container {
    width: 300px;
  }
  .bulbImgContainer {
    width: 40px;
  }
  .bulbTxtContainer {
    margin-bottom: 12px;
  }
}

@media (max-height: 915px) and (max-width: 730px) {
  .profilePictureContainer {
    width: 150px;
    height: 300px;
    margin-right: 30px;
  }
  .ellipseGreen,
  .profileImg {
    width: 200px;
    height: 200px;
  }
  .vectorGreenLong {
    width: 40px;
    height: 2px;
  }
  .prefaceContainer,
  .strength1Container,
  .strength2Container,
  .strength3Container {
    width: 300px;
  }
  .profileAndVectorMaincontainer {
    margin-left: -350px;
  }
  .vectorBlackContainerBack {
    margin-top: -716px;
  }
  .mainAboutMeContainer {
    margin-bottom: 200px;
    margin-top: -200px;
  }
}

@media (max-height: 915px) and (max-width: 700px) {
  .prefaceContainer,
  .strength1Container,
  .strength2Container {
    width: 250px;
  }
  .strength3Container {
    width: 450px;
  }
  .profileAndVectorMaincontainer {
    margin-left: -1000px;
  }
  .aboutMeTxtSecondContainer {
    gap: 0;
  }
  .mainAboutMeContainer {
    margin-bottom: 200px;
  }
  .strength1Container,
  .strength2Container {
    margin-bottom: 32px;
  }
  .locationImgContainer {
    width: 72px;
  }
}

@media (max-height: 915px) and (max-width: 630px) {
  .mainAboutMeContainer,
  .aboutMeTxtMainContainer,
  .aboutMeTxtSecondContainer {
    z-index: 100;
  }
  .mainAboutMeContainer {
    margin-bottom: 150px;
    margin-top: -150px;
  }
  .vectorBlackContainerBack {
    margin-top: -750px;
    z-index: -1;
    rotate: (0deg);
  }
  .ellipseGreen,
  .profilePictureContainer,
  .profileImg,
  .vectorGreenLongContainer {
    display: none;
  }
  .prefaceContainer,
  .strength1Container,
  .strength2Container,
  .strength3Container {
    width: 500px;
    margin: 0;
    justify-content: center;
  }
  .locationImgContainer {
    margin: 0;
    width: 46px;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 16px;
  }
  .strength2Container,
  .strength3Container {
    margin-left: 2px;
  }
  .puzzleImgContainer {
    width: 46px;
  }
}

@media (max-height: 915px) and (max-width: 552px) {
  .prefaceContainer,
  .aboutMeTxtSecondContainer,
  .aboutMeHeaderContainer {
    width: 400px;
  }
  .strength1Container,
  .strength2Container,
  .strength3Container {
    justify-content: flex-start;
    width: 350px;
  }
  .locationTxtContainer,
  .bulbTxtContainer,
  .puzzleTxtContainer {
    width: 300px;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 14px;
  }

  .vectorBlackContainerBack {
    margin-top: -750px;
  }
}

@media (max-height: 915px) and (max-width: 470px) {
  .vectorBlackContainerBack {
    margin-top: -745px;
    z-index: -1;
    rotate: (0deg);
  }
}

@media (max-height: 915px) and (max-width: 450px) {
  .mainAboutMeContainer {
    margin-left: 30px;
  }
  .vectorBlackContainerBack {
    margin-top: -780px;
    z-index: -1;
    rotate: (0deg);
  }
}

@media (max-height: 915px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -800px;
  }
  .prefaceContainer,.aboutMeTxtSecondContainer {
    width: 320px;
  }
  .aboutMeDescriptionContainer{
    width: 320px;
  }
  .aboutMeHeaderContainer,.aboutMeTxt {
    width: 300px;
  }
}

@media (max-height: 915px) and (max-width: 400px) {
  .mainAboutMeContainer {
    margin-left: 20px;
  }
  .aboutMeDescriptionContainer,
  .profileAndVectorMaincontainer {
    width: 320px;
  }
  .vectorBlackContainerBack {
    margin-top: -786px;
    z-index: -1;
    rotate: (0deg);
  }
}

@media (max-height: 915px) and (max-width: 390px) {
  .mainAboutMeContainer {
    margin-left: 15px;
    margin-bottom: 100px;
  }
  .prefaceContainer,
  .aboutMeTxtSecondContainer {
    width: 320px;
  }
  .locationImg {
    height: 28px;
    width: 21px;
  }
  .bulbImg,
  .puzzleImg {
    height: 42px;
    width: 42px;
  }
  .vectorBlackContainerBack {
    margin-top: -798px;
    z-index: -1;
    rotate: (0deg);
  }
}

@media (max-height: 915px) and (max-width: 380px) {
  .mainAboutMeContainer {
    margin-left: 18px;
  }
  .prefaceContainer {
    width: 280px;
  }
  .prefaceTxt,.locationTxt{
    display: grid;
    margin-bottom: 18px;
  }
  .locationImgContainer,
  .bulbImgContainer,
  .puzzleImgContainer {
    padding: 0px;
    width: 18px;
  }
  .strengthsContainer,
  .strength1Container,
  .strength2Container,
  .strength3Container {
    margin: 0;
    width: 320px;
  }
  .locationTxtContainer,
  .bulbTxtContainer,
  .puzzleTxtContainer,
  .aboutMeHeaderContainer,
  .aboutMeTxtSecondContainer,
  .aboutMeTxt {
    width: 300px;
  }
  .aboutMeDescriptionContainer {
    width: 300px;
  }
  .bulbTxtContainer{
    margin-bottom: 35px;
  }
}

@media (max-height: 915px) and (max-width: 340px) {
  .mainAboutMeContainer {
    margin-left: 10px;
  }
  .prefaceContainer{
    width: 300px;
  }
  .prefaceTxt {
    display: grid;
    margin-bottom: 18px;
    width: 300px;
  }
  .strengthsContainer,
  .strength1Container,
  .strength2Container,
  .strength3Container {
    margin: 0;
    width: 300px;
  }
  .aboutMeTxtSecondContainer,.aboutMeTxtMainContainer,.aboutMeDescriptionContainer,.aboutMeTxtSecondContainer{
    width: 300px;
  }
}

// Max-Height: 825px

@media (max-height: 825px) and (max-width: 1920px) {
  .vectorBlackContainerBack {
    margin-top: -420px;
  }
  .mainAboutMeContainer {
    margin-left: 170px;
    margin-top: 100px;
  }
}

@media (max-height: 825px) and (max-width: 1477px) {
  .mainAboutMeContainer {
    margin-left: 100px;
  }
  .vectorGreenLong {
    width: 100px;
    height: 5px;
  }
}

@media (max-height: 825px) and (max-width: 1236px) {
  .aboutMeTxt {
    font-size: 75px;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 14px;
  }
  .profilePictureMainContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .profilePictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -60px;
  }
  .ellipseGreen {
    width: 353px;
    height: 353px;
  }
  .profileImg {
    height: 300px;
    width: 300px;
  }
  .vectorGreenLong {
    width: 150px;
    height: 5px;
  }
}

@media (max-height: 825px) and (max-width: 1174px) {
  .mainAboutMeContainer {
    margin-left: 50px;
    justify-content: space-between;
  }
}

@media (max-height: 825px) and (max-width: 1150px) {
  .aboutMeTxt {
    font-size: 70px;
  }
}

@media (max-height: 825px) and (max-width: 1130px) {
  .vectorGreenLong {
    width: 72px;
  }
}

@media (max-height: 825px) and (max-width: 1050px) {
  .prefaceContainer {
    display: block;
    width: 400px;
    text-wrap: wrap;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 12px;
  }
  .strengthsContainer {
    margin-top: 32px;
  }
  .strength1Container,
  .strength2Container,
  .strength3Container {
    text-wrap: wrap;
    width: 350px;
  }
  .locationImgContainer {
    width: 60px;
    margin-right: 4px;
  }
  .aboutMeDescriptionContainer {
    width: 370px;
  }
  .profileAndVectorMaincontainer {
    margin-left: -300px;
  }
}

@media (max-height: 825px) and (max-width: 960px) {
  .vectorBlackContainerBack {
    margin-top: -470px;
    rotate: (0deg);
  }
  .mainAboutMeContainer {
    margin-top: -100px;
  }
  .aboutMeTxt {
    font-size: 50px;
  }
}

@media (max-height: 825px) and (max-width: 930px) {
  .profilePictureContainer {
    width: 400px;
    height: 353px;
  }
  .ellipseGreen {
    width: 280px;
    height: 280px;
  }
  .profileImg {
    height: 260px;
    width: 260px;
  }
  .vectorGreenLong {
    width: 100px;
    height: 3px;
  }
}

@media (max-height: 825px) and (max-width: 860px) {
  .vectorGreenLong {
    width: 40px;
    height: 2px;
  }
  .profilePictureContainer {
    width: 280px;
    height: 353px;
    margin-right: 0px;
    margin-left: -100px;
  }
}

@media (max-height: 825px) and (max-width: 840px) {
  .vectorBlackContainerBack {
    margin-top: -525px;
    rotate: (0deg);
  }
  .aboutMeTxt {
    font-size: 45px;
  }
}

@media (max-height: 825px) and (max-width: 785px) {
  .profilePictureContainer {
    width: 200px;
    height: 353px;
    margin-right: 30px;
  }
  .ellipseGreen {
    width: 250px;
    height: 250px;
  }
  .profileImg {
    height: 250px;
    width: 250px;
  }
  .vectorGreenLong {
    width: 40px;
    height: 2px;
  }
  .prefaceContainer,
  .strength1Container,
  .strength2Container,
  .strength3Container {
    width: 300px;
  }
  .bulbImgContainer {
    width: 40px;
  }
  .bulbTxtContainer {
    margin-bottom: 12px;
  }
}

@media (max-height: 825px) and (max-width: 730px) {
  .profilePictureContainer {
    width: 150px;
    height: 300px;
    margin-right: 30px;
  }
  .ellipseGreen,
  .profileImg {
    width: 200px;
    height: 200px;
  }
  .vectorGreenLong {
    width: 40px;
    height: 2px;
  }
  .prefaceContainer,
  .strength1Container,
  .strength2Container,
  .strength3Container {
    width: 300px;
  }
  .profileAndVectorMaincontainer {
    margin-left: -350px;
  }
  .vectorBlackContainerBack {
    margin-top: -626px;
  }
  .mainAboutMeContainer {
    margin-bottom: 200px;
    margin-top: -200px;
  }
}

@media (max-height: 825px) and (max-width: 700px) {
  .prefaceContainer,
  .strength1Container,
  .strength2Container {
    width: 250px;
  }
  .strength3Container {
    width: 450px;
  }
  .profileAndVectorMaincontainer {
    margin-left: -1000px;
  }
  .aboutMeTxtSecondContainer {
    gap: 0;
  }
  .mainAboutMeContainer {
    margin-bottom: 200px;
  }
  .strength1Container,
  .strength2Container {
    margin-bottom: 32px;
  }
  .locationImgContainer {
    width: 72px;
  }
}

@media (max-height: 825px) and (max-width: 630px) {
  .mainAboutMeContainer,
  .aboutMeTxtMainContainer,
  .aboutMeTxtSecondContainer {
    z-index: 100;
  }
  .mainAboutMeContainer {
    margin-bottom: 150px;
    margin-top: -150px;
  }
  .vectorBlackContainerBack {
    margin-top: -700px;
    z-index: -1;
    rotate: (0deg);
  }
  .ellipseGreen,
  .profilePictureContainer,
  .profileImg,
  .vectorGreenLongContainer {
    display: none;
  }
  .prefaceContainer,
  .strength1Container,
  .strength2Container,
  .strength3Container {
    width: 500px;
    margin: 0;
    justify-content: center;
  }
  .locationImgContainer {
    margin: 0;
    width: 46px;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 16px;
  }
  .strength2Container,
  .strength3Container {
    margin-left: 2px;
  }
  .puzzleImgContainer {
    width: 46px;
  }
}

@media (max-height: 825px) and (max-width: 552px) {
  .prefaceContainer,
  .aboutMeTxtSecondContainer,
  .aboutMeHeaderContainer {
    width: 400px;
  }
  .strength1Container,
  .strength2Container,
  .strength3Container {
    justify-content: flex-start;
    width: 350px;
  }
  .locationTxtContainer,
  .bulbTxtContainer,
  .puzzleTxtContainer {
    width: 300px;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 14px;
  }

  .vectorBlackContainerBack {
    margin-top: -705px;
  }
}

@media (max-height: 825px) and (max-width: 470px) {
  .vectorBlackContainerBack {
    margin-top: -700px;
    z-index: -1;
    rotate: (0deg);
  }
}

@media (max-height: 825px) and (max-width: 450px) {
  .mainAboutMeContainer {
    margin-left: 30px;
  }
  .vectorBlackContainerBack {
    margin-top: -744px;
    z-index: -1;
    rotate: (0deg);
  }
}

// @MEDIA -> Handy -> 440Width

@media (max-height: 905px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -792px;
  }
}

@media (max-height: 893px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -784px;
  }
}

@media (max-height: 878px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -775px;
  }
}

@media (max-height: 862px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -767px;
  }
}

@media (max-height: 849px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -764px;
  }
}

@media (max-height: 836px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -756px;
  }
}

@media (max-height: 825px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -740px;
  }
}

@media (max-height: 825px) and (max-width: 430px) {
  .prefaceContainer,
  .aboutMeTxtSecondContainer,
  .aboutMeHeaderContainer {
    width: 350px;
  }
  .strength1Container,
  .strength2Container,
  .strength3Container {
    justify-content: flex-start;
    width: 320px;
  }
  .locationTxtContainer,
  .bulbTxtContainer,
  .puzzleTxtContainer {
    width: 300px;
  }
  .aboutMeHeaderContainer,
  .aboutMeTxt {
    width: 320px;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 12px;
  }
}

@media (max-height: 825px) and (max-width: 400px) {
  .mainAboutMeContainer {
    margin-left: 20px;
  }
  .aboutMeDescriptionContainer,
  .profileAndVectorMaincontainer {
    width: 320px;
  }
  .vectorBlackContainerBack {
    margin-top: -740px;
    z-index: -1;
    rotate: (0deg);
  }
}

@media (max-height: 825px) and (max-width: 390px) {
  .mainAboutMeContainer {
    margin-left: 15px;
    margin-bottom: 100px;
  }
  .prefaceContainer,
  .aboutMeTxtSecondContainer {
    width: 320px;
  }
  .locationImg {
    height: 28px;
    width: 21px;
  }
  .bulbImg,
  .puzzleImg {
    height: 42px;
    width: 42px;
  }
  .vectorBlackContainerBack {
    margin-top: -752px;
    z-index: -1;
    rotate: (0deg);
  }
}

@media (max-height: 825px) and (max-width: 340px) {
  .mainAboutMeContainer {
    margin-left: 18px;
  }
  .prefaceContainer {
    width: 280px;
  }
  .locationImgContainer,
  .bulbImgContainer,
  .puzzleImgContainer {
    padding: 0px;
    width: 18px;
  }
  .strengthsContainer,
  .strength1Container,
  .strength2Container,
  .strength3Container {
    margin: 0;
    width: 300px;
  }
  .locationTxtContainer,
  .bulbTxtContainer,
  .puzzleTxtContainer,
  .aboutMeHeaderContainer,
  .aboutMeTxtSecondContainer,
  .aboutMeTxt {
    width: 260px;
  }
  .aboutMeDescriptionContainer {
    width: 280px;
  }
}

@media (max-height: 810px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -732px;
  }
}

@media (max-height: 800px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -735px;
  }
}

@media (max-height: 785px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -722px;
  }
}

@media (max-height: 774px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -716px;
  }
}

@media (max-height: 762px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -704px;
  }
}

@media (max-height: 750px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -704px;
  }
}

@media (max-height: 737px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -694px;
  }
}

@media (max-height: 724px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -680px;
  }
}

@media (max-height: 712px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -664px;
  }
}

@media (max-height: 700px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -658px;
  }
}

@media (max-height: 688px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -648px;
  }
}

@media (max-height: 676px) and (max-width: 440px) {
  .vectorBlackContainerBack {
    margin-top: -640px;
  }
}