.mainAboutMeContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
  height: 630px;
  margin-left: 270px;
}
.vectorBlackContainerBack {
  position: absolute;
  z-index: -100;
  left: 0;
  right: 0;
  margin-top: -415px;
}
.vectorBlackBack {
  width: 100%;
  height: 500px;
}
.aboutMeTxtContainer {
  width: 471px;
  height: 532px;
  gap: 0px;
  opacity: 0px;
}
.aboutMeTxtSecondContainer {
  display: grid;
  width: 471px;
  height: 532px;
  gap: 40px;
  opacity: 0px;
}
.aboutMeHeaderContainer {
  width: 471px;
  height: 108px;
  gap: 0px;
  opacity: 0px;
}
.aboutMeTxt {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}
.aboutMeDescriptionContainer {
  width: 471px;
  height: 384px;
}
.prefaceContainer {
  display: grid;
  width: 471px;
  height: 76px;
  gap: 32px;
  opacity: 0px;
}
.prefaceTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.strengthsContainer {
  display: grid;
  gap: 32px;
  opacity: 0px;
}
.strength1Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  gap: 16px;
  opacity: 0px;
}
.strength2Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  gap: 16px;
  opacity: 0px;
}
.strength3Container {
  display: flex;
  gap: 16px;
  opacity: 0px;
}
.locationImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0px 2px 0px 2px;
  gap: 10px;
  opacity: 0px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}
.locationImg {
  width: 25.33px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
}
.locationTxtContainer {
  width: 407px;
  height: 57px;
  gap: 0px;
  opacity: 0px;
}
.locationTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.bulbImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0px 2px 0px 2px;
  gap: 10px;
  opacity: 0px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}
.bulbImg {
  width: 46px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
}
.bulbTxtContainer {
  width: 407px;
  height: 57px;
  gap: 0px;
  opacity: 0px;
}
.bulbTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.puzzleImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 1px 0px 0px 0px;
  gap: 10px;
  opacity: 0px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}
.puzzleImg {
  width: 46px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
}
.puzzleTxtContainer {
  width: 407px;
  height: 114px;
  gap: 0px;
  opacity: 0px;
}
.puzzleTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.profilePictureMainContainer {
  width: 453px;
  height: 453px;
  gap: 0px;
  opacity: 0px;
}
.ellipseGreen {
  width: 453px;
  height: 453px;
  position: absolute;
  gap: 0px;
  border: 4px 0px 0px 0px;
  opacity: 0px;
}
.profilePictureContainer {
  width: 453px;
  height: 453px;
  top: 1107px;
  left: 720px;
  gap: 0px;
  opacity: 0px;
}
.d-flex-vectorWithProfileCircle {
  display: flex;
  align-items: center;
}
.profileAndVectorMaincontainer {
  display: flex;
  align-items: center;
}
.purple_shadow {
  position: absolute;
  top: 850px;
  right: 0px;
  backdrop-filter: blur(93px);
  z-index: -100;
}

@media (max-width: 1630px) {
  .mainAboutMeContainer {
    margin-left: 170px;
  }
}

@media (max-width: 1477px) {
  .mainAboutMeContainer {
    margin-left: 100px;
  }
  .vectorGreenLong {
    width: 100px;
    height: 5px;
  }
}
@media (max-width: 1236px) {
  .aboutMeTxt {
    font-size: 75px;
  }
  .prefaceTxt,
  .locationTxt,
  .bulbTxt,
  .puzzleTxt {
    font-size: 14px;
  }
  .profilePictureMainContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .profilePictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -60px;
  }
  .ellipseGreen {
    width: 353px;
    height: 353px;
  }
  .profileImg {
    height: 300px;
    width: 300px;
  }
  .vectorGreenLong {
    width: 150px;
    height: 5px;
  }
}

@media (max-width: 1162px) {
  .mainAboutMeContainer {
    margin-left: 50px;
    justify-content: space-between;
  }
}

@media (max-width: 1150px) {
  .aboutMeTxt {
    font-size: 70px;
  }
}

@media (max-width: 1130px) {
  .vectorGreenLong {
    width: 72px;
  }
}

@media (max-width: 1050px) {
  
}

@media (max-width: 1040px) {
  .vectorBlackContainerBack {
    margin-top: -403px;
    rotate: (4deg);
  }
}
