.mainAboutMeContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
  height: 630px;
  margin-left: 270px;
  margin-right: 270px;
}
.aboutMeTxtContainer {
  width: 471px;
  height: 532px;
  gap: 0px;
  opacity: 0px;
}
.aboutMeTxtSecondContainer {
  display: grid;
  width: 471px;
  height: 532px;
  gap: 40px;
  opacity: 0px;
}
.aboutMeHeaderContainer {
  width: 471px;
  height: 108px;
  gap: 0px;
  opacity: 0px;
}
.aboutMeTxt {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}
.aboutMeDescriptionContainer {
  width: 471px;
  height: 384px;
}
.prefaceContainer {
  display: grid;
  width: 471px;
  height: 76px;
  gap: 32px;
  opacity: 0px;
}
.prefaceTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.strengthsContainer {
  display: grid;
  gap: 32px;
  opacity: 0px;
}
.strength1Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  gap: 16px;
  opacity: 0px;
}
.strength2Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  gap: 16px;
  opacity: 0px;
}
.strength3Container {
  display: flex;
  gap: 16px;
  opacity: 0px;
}
.locationImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0px 2px 0px 2px;
  gap: 10px;
  opacity: 0px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}
.locationImg {
  width: 25.33px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
}
.locationTxtContainer {
  width: 407px;
  height: 57px;
  gap: 0px;
  opacity: 0px;
}
.locationTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.bulbImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0px 2px 0px 2px;
  gap: 10px;
  opacity: 0px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}
.bulbImg {
  width: 46px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
}
.bulbTxtContainer {
  width: 407px;
  height: 57px;
  gap: 0px;
  opacity: 0px;
}
.bulbTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.puzzleImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 1px 0px 0px 0px;
  gap: 10px;
  opacity: 0px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}
.puzzleImg {
  width: 46px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
}
.puzzleTxtContainer {
  width: 407px;
  height: 114px;
  gap: 0px;
  opacity: 0px;
}
.puzzleTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.profilePictureMainContainer {
  width: 453px;
  height: 453px;
  gap: 0px;
  opacity: 0px;
}
.ellipseGreen {
  width: 453px;
  height: 453px;
  position: absolute;
  gap: 0px;
  border: 4px 0px 0px 0px;
  opacity: 0px;
}
.profilePictureContainer {
  width: 453px;
  height: 453px;
  top: 1107px;
  left: 720px;
  gap: 0px;
  opacity: 0px;
}
.d-flex-vectorWithProfileCircle {
  display: flex;
  align-items: center;
}
.purple_shadow {
  position: absolute;

  top: 750px;
  right: 0px;
  backdrop-filter: blur(93px);
  z-index: -2;
}
.vectorGreenLong {
  width: 267px;
}
