<div class="vectorBlackContainerBack">
  <img class="vectorBlackBack" src="./assets/img/aboutme/vector_black.png">
</div>

<div class="mainAboutMeContainer">
  <div class="aboutMeTxtMainContainer">
    <div class="aboutMeTxtSecondContainer">
      <div class="aboutMeHeaderContainer">
        <h2 class="aboutMeTxt">About me</h2>
      </div>
      <div class="aboutMeDescriptionContainer">
        <div class="prefaceContainer">
          <span class="prefaceTxt"
            >Hi, I’m a german speaking Frontend Developer based in Ludwigshafen
            am Rhein. Motivated by the limitless opportunities within IT, I am
            excited about crafting visually captivating and intuitive websites
            and applications.
          </span>
          <div class="strengthsContainer">
            <div class="strength1Container">
              <div class="locationImgContainer">
                <img class="locationImg" src="./assets/img/aboutme/location.png" />
              </div>
              <div class="locationTxtContainer">
                <span class="locationTxt">
                  Flexible in terms of working environments, I can work
                  effectively both on-site in Munich and remotely.</span
                >
              </div>
            </div>
            <div class="strength2Container">
              <div class="bulbImgContainer">
                <img class="bulbImg" src="./assets/img/aboutme/bulb.png" />
              </div>
              <div class="bulbTxtContainer">
                <span class="bulbTxt">
                  I am open-minded and always looking for personal challenges to
                  constantly improve my knowledge and skills.</span
                >
              </div>
            </div>
            <div class="strength3Container">
              <div class="puzzleImgContainer">
                <img class="puzzleImg" src="./assets/img/aboutme/puzzle.png" />
              </div>
              <div class="puzzleTxtContainer">
                <span class="puzzleTxt">
                  In my profession, programming isn't just about writing code;
                  it's a creative form of problem-solving. I take pride in my
                  ability to distill complex technical challenges into simple,
                  user-friendly solutions. This way, I help you achieve your
                  goals and bring your visions to life.</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profileAndVectorMaincontainer">
    <div class="profilePictureMainContainer">
    <img class="ellipseGreen" src="./assets/img/aboutme/ellipse_green.png"/>
      <div class="profilePictureContainer">
        <img class="profileImg" src="./assets/img/aboutme/profileImg.png"/>
      </div>
      <img class="purple_shadow" src="./assets/img/aboutme/purple_shadow.png"/>
    </div>
    <div class="vectorGreenLongContainer">
      <img class="vectorGreenLong" src="./assets/img/aboutme/vector-green-long.png"/>
    </div>
  </div>
</div>
