body {
  margin: 0;
  box-sizing: border-box;
  background: #141D2F;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

section{
  max-width: 1920px;
}
html {
  scroll-behavior: smooth;
}
#aboutMe {
  scroll-margin-top: 200px;
}
#skills {
  scroll-margin-top: 200px; 
}
#portfolio {
  scroll-margin-top: 140px; 
}
#contact {
  scroll-margin-top: 50px;
}

@font-face {
    font-family: 'poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@media(max-width: 960px){
  #aboutMe {
    scroll-margin-top: 120px;
  }
  #skills {
    scroll-margin-top: 120px; 
  }
  #portfolio {
    scroll-margin-top: 120px; 
  }
}

@media(max-width: 630px){
  #contact {
    scroll-margin-top:100px;
  }
}

@media(max-height: 825px){
  #aboutMe {
    scroll-margin-top: 130px;
  }
}